* {
    font-family: "Arial";
    background-color: #656368;
    background-color: #f18936;
}
#main {
    align-items: center;
    /* padding: 10px;
    margin: 10px;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column; */
}
#gridContainer {
    display: grid;
    align-items: center;
    justify-content: stretch;
    margin-top: 25px;
    margin-bottom: 70px;
    grid-template-columns: 225px 225px 225px 225px;
    grid-column-gap: 50px;
    grid-row-gap: 20px;
    padding-top: 31px;
    padding-bottom: 30px;
    padding-left: 28px;
    padding-right: 28px;
}
#imgbox {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}
.img {
    width: 225px;
    height: 225px;
    border: 1px solid;
    object-fit: cover;
    overflow: hidden;
    cursor: pointer;
    -webkit-filter: contrast(3) saturate(4) sepia(0.6) opacity(6);
    filter: contrast(1.5) saturate(3) sepia(0.6) opacity(6);
}
.zoomtmp{
    overflow: auto;
    background-color: red;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

}

.image_title{
    font-size: 20px;
    color: white;
    text-align: center;
}

/* .image img {
    width: 200px;
    height: 200px;
    padding: 20px;
    object-fit: cover; */
    /* object-position: center; */
    /* align-items: flex-start;
    /* flex-wrap: wrap;
    justify-content: flex-start; */
    /* align-content: stretch; */
}

/* .image p{
    font-size: 20px;
    color: white;
    text-align: center;
}*/

h1{
    font-size: 60px;
    color: white;
    text-align: center;
}


input{
    margin-left: 30px;
    margin-left: 41px;
    background-color: white;
    padding: 10px;
    width: 210px;
    height: 30px;
    border: none;
    font-size: 18px;
}
.button_home {
    width: 160px;
    height: 50px;
    color: white;
    font: 18px Arial;
    /* background-color: red; */
    /* box-shadow: 0px 2px 19px rgba(50, 50, 50, 0.75); */
}
.custom-file-upload {
    width: 160px;
    height: 30px;
    color: white;
    font: 18px Arial;
    /* background-color: red; */
    /* box-shadow: 0px 2px 19px rgba(50, 50, 50, 0.75); */
}

input[type="file"] {
    display: none;
}
.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}
