* {
    font-family: "Arial";
    background-color: #656368;
    background-color: #f18936;
}
.grid {
    display: grid;
    grid-template-columns: repeat(1fr, 1fr, 1fr);
    grid-gap: 1rem; 

}
.image_grid{
    display: grid;
    grid-template-columns: repeat(300px, 1fr);
    grid-gap: 1rem;

    /* align-items: flex-start;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: stretch;*/
}
.image_grid_item {
    display: flex;
    flex-flow: column;
    padding: 2rem;
    align-items: flex-start;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: stretch;
}
.image_grid_item p {
    font-size: 20px;
    color: white;
    text-align: center;
}
.image_grid_item img {
    width: 200px;
    height: 200px;
    padding: 20px;
    object-fit: cover;
    object-position: center;
}

.zoomtmp{
    overflow: auto;
    background-color: red;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

}

.image_title{
    font-size: 20px;
    color: white;
    text-align: center;
}

/* .image img {
    width: 200px;
    height: 200px;
    padding: 20px;
    object-fit: cover; */
    /* object-position: center; */
    /* align-items: flex-start;
    /* flex-wrap: wrap;
    justify-content: flex-start; */
    /* align-content: stretch; */
}

/* .image p{
    font-size: 20px;
    color: white;
    text-align: center;
}*/

h1{
    font-size: 60px;
    color: white;
    text-align: center;
}


input{
    margin-left: 30px;
    margin-left: 41px;
    background-color: white;
    padding: 10px;
    width: 210px;
    height: 30px;
    border: none;
    font-size: 18px;
}
.button_home {
    width: 160px;
    height: 50px;
    color: white;
    font: 18px Arial;
    /* background-color: red; */
    /* box-shadow: 0px 2px 19px rgba(50, 50, 50, 0.75); */
}
.custom-file-upload {
    width: 160px;
    height: 30px;
    color: white;
    font: 18px Arial;
    /* background-color: red; */
    /* box-shadow: 0px 2px 19px rgba(50, 50, 50, 0.75); */
}

input[type="file"] {
    display: none;
}
.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}
